<div class="search-chats">
  <div class="search-wrapper">
    <input
      [(ngModel)]="searchText"
      (input)="searchChat()"
      type="text"
      placeholder="{{ placeholder }}"
    />
    <div class="search-icon"><img src="/img/search_icon.svg" alt=""></div>
  </div>
    <div *ngIf="this.userList" class="user-list">
      <app-user-view-small
        *ngFor="let user of filteredUser"
        [user]="user"
        (click)="selectChat(user)"
      ></app-user-view-small>
    </div>

    <div class="user-list channel-list" *ngIf="channelList">
      <div (click)="selectChannel(channel)" *ngFor="let channel of filteredChannels" class="single-channel">
        <span class="hashtag-icon"></span>
        <span>{{ channel.name }}</span>
      </div>
    </div>
  </div>