<section class="add-friend-dialog">
  <header>
    <h2>Direktnachricht an</h2>
    <div (click)="closeDialog()" class="close-icon"></div>
  </header>
  <form action="">
    <div>
      <input [(ngModel)]="userName" name="userName" type="text" placeholder="Name eingeben" autocomplete="off">
      <div class="dropdown">
        @for(user of users; track user) {
        <div>
          <img src="/img/elias_neumann.png" alt="">
          <span>{{user}}</span>
        </div>
        }
      </div>
    </div>
    <button [disabled]="!userName">Chat starten</button>
  </form>
</section>