@use '../../../chatroom.component.scss';

.add-friend-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 514px;
    height: 294px;

    padding: 40px 20px;

    background-color: #FFFFFF;

    z-index: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font-family: 'Nunito';
    font-weight: 700;

}

.close-icon {
    width: 40px;
    height: 40px;
    background-image: url('../../../../../../public/img/close_icon.svg');

    &:hover {
        cursor: pointer;
        background-image: url('../../../../../../public/img/close_hover_icon.svg');
    }
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;

    z-index: 99;

    &>div:nth-child(1) {
        width: 100%;

        &:focus-within {
            * {
                border-color: #444DF2;
            }
        }
    }

    input {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.input-text {
    width: 100%;

    padding: 15px 20px;

    border: 1px solid #ADB0D9;
    border-radius: 30px;

    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;

    outline: none;
}

.input-added-user {
    display: flex;

    padding: 7.5px 20px;

    border: 1px solid #ADB0D9;
    border-bottom: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.user-view-small {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: max-content;

    padding: 3px 10px !important;

    border-radius: 35px;

    background-color: #ECEEFE;

    img {
        width: 34px;
        height: 34px;

        border-radius: 50%;
    }
}