@use './../messages.component.scss';

* {
    font-family: 'Nunito';
}

section {
    height: calc(100vh - 102px - 16px);
}

.card {
    min-width: 485px;

    padding: 0;
}

.message-head {
    >img {
        width: 50px;
        height: 50px;

        border-radius: 50%;
    }

    >h2 {
        font-size: 24px;
    }
}

.message-wrapper {
    padding: 10px 20px;
}

.communication-with {
    &>div {
        display: flex;
        align-items: flex-end;
        gap: 25px;

        div {
            width: 100px;
            height: 100px;
            &>img {
                width: 100px;
                height: 100px;
    
                border-radius: 50%;
            }
        }
    }
}

.message-field {
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: grid;
    flex: 1;
    scrollbar-width: none;
    position: relative;

    .flex-end {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }

    div {
        width: 100%;
    }
}

.time-seperator {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        border: 1px solid #ADB0D9;
        flex: 1;
    }

    .date {
        border-radius: 30px;
        padding: 5px 15px;
        flex: 0;

    }
}

.textarea-component {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.chat-partner {
    img {
        width: 100px;
        height: 100px;
    }
}

.seperator-style {
    border: 1px solid black;
    width: 300px;
}

.textarea-emojipicker {
    position: relative;

    .emoji-component {
        position: absolute;
        z-index: 6;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }
}