<section>

    <div *ngIf="chatData" class="card height-100vh">
        <div>
            <div class="message-head">
                <img src="/img/empty_profile.png" alt="">
                <span>{{ chatData.name }}</span>
            </div>
    
            <div class="dividing-line"></div>
        </div>

        <div>
            <div *ngFor="let message of chatData.messages; let  i = index" class="message-item">
                <span>{{ message.text }}</span>
                <span (click)="deleteMessage(i)"> {{ i }}</span>
            </div>
    
            <div class="messages-field" *ngIf="!messagesAvailable()">
                <div class="communication-with">
                    <img src="/img/empty_profile.png" alt="">
                    <span>{{ chatData.name }}</span>
                </div>
                <span>Diese Unterhaltung findet nur zwischen (at){{ chatData.name }} und dir statt.</span>
            </div>
    
            <div>
                <div class="textarea">
                    <textarea [(ngModel)]="message" placeholder="Nachricht an {{ chatData.name }}" name="" id=""></textarea>
                </div>
                <button (click)="sendText()">Senden</button>
            </div>
        </div>
    </div>

</section>