<section>

    <div class="card height-100vh">
        <div class="message-head">
            <img src="/img/empty_profile.png" alt="">
            <span>Max Mustermann</span>
        </div>

        <div class="dividing-line"></div>

        <div class="messages-field">
            <div class="communication-with">
                <img src="/img/empty_profile.png" alt="">
                <span>Max Mustermann</span>
            </div>
            <span>Diese Unterhaltung findet nur zwischen (at)Max Mustermann und dir statt.</span>
        </div>

        <div class="textarea">
            <textarea placeholder="Nachricht an Max Mustermann" name="" id=""></textarea>
        </div>
    </div>

</section>