<section class="card" (click)="closeEmojiBars()">

    <div class="message-head">
        <img [src]="this.chatService.chatPartner.avatar" alt="">
        <h2>{{ this.chatService.chatPartner.name }}</h2>
    </div>

    <div class="message-field" #myScrollContainer>
        <div class="flex-end">
            <div *ngFor="let message of chatMessages$ | async,  trackBy: trackByFn" class="message-wrapper">
                <app-single-message 
                    [currentMessage]="message" 
                    [chatId]="this.chatId"
                    [component]="'chat'"
                    (emojiBarClosed)="closeEmojiBars()"></app-single-message>
            </div>
        </div>
    </div>

    <div class="textarea-component">
        <div *ngIf="(chatMessages$ | async)?.length === 0" class="communication-with">
            <div>
                <img [src]="this.chatService.chatPartner.avatar" alt="">
                <span>{{ this.chatService.chatPartner.name }}</span>
            </div>
            <span>Diese Unterhaltung findet nur zwischen &#64;{{ this.chatService.chatPartner.name }} und dir
                statt.</span>
        </div>

        <div class="textarea-emojipicker">
            <div class="emoji-component" *ngIf="this.emojiService.emojiPickerOpen">
                <app-emoji-picker-component
                    (emojiSelected)="this.addEmoji($event)"></app-emoji-picker-component>
            </div>
            <app-textarea 
                [chatPartnerName]="this.chatService.chatPartner.name" 
                [component]="'chat'"
                (childEvent)="scrollDown()"></app-textarea>
        </div>
    </div>
</section>