<section>
  <a class="back-link" [routerLink]="'/register/login'">
    <div class="back-arrow"></div>
  </a>
  <div class="card-container">
    <div class="headline">
      <h2>Passwort zurücksetzen</h2>
    </div>
    <form [formGroup]="loginFormPassword" (ngSubmit)="changePassword()">
      <div class="input-field">
        <input
          required
          id="password"
          formControlName="password"
          type="password"
          placeholder="Neues Passwort"
        />
      </div>

      <div class="input-field">
        <input
          required
          id="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          placeholder="Neues Passwort bestätigen"
        />
        <div>
          <small *ngIf="loginFormPassword.errors?.['mismatch']"
            >Ihre Kennwörter stimmen nicht überein.</small
          >
        </div>
      </div>

      <div class="mail-btn-container">
        <button
          class="mail-btn"
          type="submit"
          [ngClass]="{
            disabled: loginFormPassword.invalid,
            enabled: loginFormPassword.valid
          }"
          [disabled]="loginFormPassword.invalid"
        >
          Passwort ändern
        </button>
        <div *ngIf="loginFormPassword.invalid" class="tooltip-button">
          <span>{{ getPasswordErrorMessage() }}</span>
        </div>
      </div>
    </form>
  </div>
</section>
