@use "./../registration.component.scss";

section {
  position: relative;
}

.registration-card {
  position: relative;
}

.card-container {
  height: 100%;
  background-color: #ffff;
  padding: 40px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: center;
  h2 {
    color: rgba(68, 77, 242, 1);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-field {
  width: 100%;
  position: relative;

  div {
    position: absolute;
  }
}

input {
  font-size: 18px;
  font-weight: 500;
  color: #686868;
  background-color: #ECEEFE;
  padding: 18px 40px;
  border-radius: 100px;
}

small {
  color: red;
}

.mail-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .mail-btn {
    position: relative;
  }
}

.disabled {
  background: rgba(104, 104, 104, 1);
  position: relative;
}

.disabled:hover + .tooltip-button {
  visibility: visible;
}

.enabled {
  background: #444df2;

  &:hover {
    background: #797ef3;
    cursor: pointer;
  }

  &:active {
    background: #444df2;
  }
}

.mail-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.mail-btn {
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  color: #ffff;
  position: relative;  /* Für die Positionierung des Tooltips */
}

.disabled {
  background: rgba(104, 104, 104, 1);
  cursor: not-allowed; /* Cursor für den deaktivierten Zustand */
}

/* Tooltip wird nur angezeigt, wenn der Button deaktiviert ist und über ihn gehovt wird */
.mail-btn.disabled:hover + .tooltip-button {
  visibility: visible;  /* Zeigt den Tooltip bei Hover */
}

.tooltip-button {
  display: none;
  position: absolute;
  bottom: calc(110%);
  // left: 50%;
  transform: translateX(0);
  border-radius: 30px;
  background: #ffff;
  color: red;
  box-shadow: 0 0 8px rgba(68, 77, 242, 0.5);
  padding: 16px;
  font-size: 14px;
  // white-space: nowrap;
  z-index: 10;
}

/* Tooltip erscheint nur, wenn der Button deaktiviert ist und über ihn gehovt wird */
.mail-btn.disabled:hover + .tooltip-button {
  display: block;
}

@media(max-width: 630px) {
  .card-container {
    padding: 30px 40px;
  }
}

@media(max-width: 530px) {
  form {
    width: 290px;
  }

  .card-container {
    gap: 20px;
  }

  .headline {
    h2 {
      font-size: 32px;
    }
  }
}

@media(max-width: 420px) {
  .card-container {
    padding: 30px 10px;;
  }

  input {
    height: 3rem;

    &::placeholder {
      font-size: 14px;
    }
  }

  form {
    width: 260px;
  }
}