<section>
  <div>
    <form [formGroup]="loginFormPassword" (ngSubmit)="changePassword()">
      <div>
        <input required id="password" formControlName="password" type="password" placeholder="Neues Passwort" />
      </div>

      <div>
        <input required id="confirmPassword" formControlName="confirmPassword" type="password"
          placeholder="Neues Passwort bestätigen" />
        <div>
          <small *ngIf="loginFormPassword.errors?.['mismatch']">Ihre Kennwörter stimmen nicht überein.</small>
        </div>
      </div>

      <div class="further-button">
        <button type="submit" [disabled]="loginFormPassword.invalid">Passwort ändern</button>
      </div>
    </form>
  </div>
</section>
