<section *ngIf="dialogOpen" class="channel-add-members-dialog animation">

  <div class="mobile-close-button">
    <div></div>
  </div>

  <header class="width-100-percent">
    <div class="header-dialog">
      <h2>Leite hinzufügen</h2>
      <div (click)="closeDialog()" class="close-icon"></div>
    </div>
    <div>
      <div class="hashtag-icon"></div>
      <span>Entwicklerteam</span>
    </div>
  </header>

  <form onSubmit="return false">

    <app-add-people-input #addPeopleInput [component]="'addMembers'" class="width-100-percent"
                          (selectedUserListOut)="selectUserList($event)"></app-add-people-input>

    <button type="button" (click)="updateChannel()" [disabled]="!selectedUserList.length"
            class="primary-button">Hinzufügen
    </button>
  </form>

</section>
