<section class="channel-add-members-dialog">

    <header class="width-100-percent">
        <div class="header-dialog">
            <h2>Leite hinzufügen</h2>
            <div class="close-icon"></div>
        </div>
        <div>
            <div class="hashtag-icon"></div>
            <span>Entwicklerteam</span>
        </div>
    </header>

    <form action="">

        <app-add-people-input class="width-100-percent"></app-add-people-input>

        <button class="primary-button">Hinzufügen</button>
    </form>

</section>