<section *ngIf="dialogWindowControl.isAddMembersOpen" class="channel-add-members-dialog-mobile"
         [ngClass]="{ 'channel-add-members-dialog': !isMobile(),
         'channel-add-members-dialog-mobile': isMobile(), 'animation': !isMobile(), 'slide-in-bottom': isMobile() && !mobileClose,
          'slide-out-bottom': isMobile() && mobileClose}">

  <div (click)="closeAddMembersDialog()" class="mobile-close-button">
    <div></div>
  </div>

  <header class="width-100-percent">
    <div class="header-dialog">
      <h2>Leite hinzufügen</h2>
      <div (click)="closeAddMembersDialog()" class="close-icon"></div>
    </div>
    <div>
      <div class="hashtag-icon"></div>
      <span>Entwicklerteam</span>
    </div>
  </header>

  <form onSubmit="return false">

    <app-add-people-input #addPeopleInput [component]="'addMembers'" class="width-100-percent"
                          (selectedUserListOut)="selectUserList($event)"></app-add-people-input>

    <button type="button" (click)="updateChannel()" [disabled]="!selectedUserList.length"
            class="primary-button">Hinzufügen
    </button>
  </form>

</section>
