<section class="vh-100">
    <div class="max-width">
        <div class="logo width-300 pd-top-50 flex-center">
            <img src="/img/logo_complete.png" alt="">

            <section class="startscreen" [ngStyle]="{ 'display': flag ? 'none' : 'block'}">
              <div class="logo-icon">
                  <img src="/img/logo_name_white.png" alt="">
                  <img src="/img/logo_icon.png" alt="">
              </div>
          </section>
        </div>

          <div class="overlay-start-container">
            <div class="start-container">
              <router-outlet></router-outlet>
              <div class="privacy-imprint">
                <div class="style-a" [routerLink]="['/register/imprint']">
                  Impressum
                </div>
                <div class="style-a" [routerLink]="['/register/privacy-police']">
                  Datenschutz
                </div>
              </div>
            </div>
          </div>

          <div class="to-signup width-300 pd-top-50 flex-center" *ngIf="currentRoute()">
            <span>Neu bei DABubble?</span>
            <a [routerLink]="['/register/create-account']" class="signup-link style-a"
              >Konto erstellen</a
            >
          </div>

          <div class="width-300" *ngIf="!currentRoute()"></div>
    </div>
</section>

<app-overlay-userfeedback></app-overlay-userfeedback>
