<section class="vh-100">
    <div class="logo-bg">    
        <div class="logo">
            <img src="/img/dabubblelogo.svg" alt="DAbubble_logo">
            <div class="typewriter">
                <img *ngFor="let image of currentImages" [src]="image" alt="">
            </div>
        </div>
    </div>


    <div class="to-signup" *ngIf="currentRoute()">
        <span>Neu bei DABubble?</span>
        <a [routerLink]="['/register/create-account']" class="signup-link style-a">Konto erstellen</a>
    </div>

    <div class="start-container">
        <router-outlet></router-outlet>
        <div class="privacy-imprint">
            <div class="style-a" [routerLink]="['/register/imprint']">Impressum</div>
            <div class="style-a" [routerLink]="['/register/privacy-police']">Datenschutz</div>
        </div>
    </div>

</section>

<app-overlay-userfeedback></app-overlay-userfeedback>