section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ECEEFE;
    overflow: hidden;
    position: relative;
    transition: background-color 2s ease; 
}

.logo-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation: moveBackground 2s forwards ease-in-out;
    animation-delay: 2s;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 5; 
}

.to-signup {
    position: absolute;
    top: 75px;
    right: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

input {
    width: 100px;
    height: 18px;
    background-color: greenyellow;
}

@keyframes moveBackground {
    0% {
        top: 0;
        left: 0;
        background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
        border-bottom-right-radius: 10%;
    }
    50% {
        border-bottom-right-radius: 50%;
    }
    100% {
        top: 100px;
        left: 150px;
        width: 0;
        height: 0;
    }
}