section {
  background: rgba(236, 238, 254, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vh-100 {
  height: 100vh;
}

.max-width {
  width: 1440px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #eceefe;
  overflow: hidden;
  position: relative;
  transition: background-color 2s ease;
}

.overlay-start-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.width-300 {
  width: 300px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 75px;
}

.startscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: #444DF2;
  animation: blurBackground 3s linear forwards;
  animation-delay: 4s;
}

.logo-icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Perfekt in die Mitte setzen */
  animation: switchToLeftCorner 1s linear forwards;
  animation-delay: 4s;

  img {
    position: absolute;
  }

  img:first-child {
    transform: translateX(-125%);
    opacity: 0;
    animation: swipeRight .5s linear forwards;
    animation-delay: 2s;
  }

  img:last-child {
    transform: translateX(-50%);
    animation: swipeLeft .5s linear forwards;
    animation-delay: 1s;
  }
}

@keyframes swipeLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes swipeRight {
  from {
    transform: translateX(-125%);
  }
  to {
    opacity: 1;
    transform: translateX(-35%);
  }
}

@keyframes blurBackground {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes switchToLeftCorner {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  to {
    top: -100px;
    left: -100px;
    transform: translate(0, 0);
  }
}

// .logo-bg {
//   padding-top: 75px;
  
//   .logo {
//     display: flex;
//     align-items: center;
//     gap: 8px;
//     padding-top: 75px;
//   }
  // position: fixed;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background: linear-gradient(1.46deg, #313ae6 1.22%, #797ef3 98.76%);
  // animation: moveBackground 2s forwards ease-in-out;
  // animation-delay: 2s;
  // z-index: 1;
// }

// .logo {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 8px;
//   z-index: 5;
//   width: 186.98px;
//   height: 184px;
//   animation: smallerLogo 2s forwards ease-in-out;
//   animation-delay: 2s;
//   > img {
//     width: 100%;
//     height: 100%;
//   }

//   & > .to_signup {
//     display: flex;
//     flex-direction: column;
//     align-items: end;
//     justify-content: center;
//     gap: 25px;

//     span {
//       font-size: 1.1;
//       font-weight: 400;
//     }
//   }

//   .typewriter {
//     display: flex;
//     align-items: flex-end;
//     gap: 2px;
//   }

//   @keyframes typewrite {
//     0% {
//       height: 100%
//     }
//     100% {
//       height: 20%;
//     }
//   }

//   @keyframes moveBackground {
//     0% {
//       top: 0;
//       left: 0;
//       border-bottom-right-radius: 10%;
//     }
//     50% {
//       border-bottom-right-radius: 50%;
//     }
//     100% {
//       top: 100px;
//       left: 150px;
//       width: 0;
//       height: 0;
//     }
//   }

//   @keyframes smallerLogo {
//     0% {
//       width: 186.98px;
//       height: 184px;
//     }
//     100% {
//       width: 70px;
//       height: 70px;
//     }
//   }
// }

.input-card {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 30px;
  position: relative;
}
.input-card-container {

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.2rem;
    position: relative;

    .input-icon {
      margin-right: 0.8rem;
    }
  }
}

input {
  width: 31rem;
  height: 3.7rem;
  border: 1px solid rgba(236, 238, 254, 1);
  background: rgba(236, 238, 254, 1);
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Nunito";
  padding-left: 5rem;
  padding-right: 2rem;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;

  &::placeholder {
    color: rgba(104, 104, 104, 1);
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }

  &:focus {
    border-color: rgba(68, 77, 242, 1);
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-signup {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: absolute;
  // top: 75px;
  // right: 75px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // gap: 5px;
  // font-size: 18px;
}

.style-a {
  font-family: 'Figtree';
  text-decoration: none;
  font-size: 18px;
  color: #797EF3;
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 30px;

  &:hover {
    color: #444Df2;
    font-weight: 500;
    border-color: #ADB0D9;
    cursor: pointer;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  position: relative;
}

.form-error {
  position: absolute;
  line-height: 12px;
  left: 0;
  top: calc(6px + 100%);

  small {
    color: red;
    font-size: 14px;
  }
}

.further-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  position: relative;
}

.tooltip-button {
  visibility: hidden;
  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(20%);
  border-radius: 30px;
  bottom: calc(110%);
  background: #ffff;
  color: red;
  box-shadow: 0 0 8px rgba(68, 77, 242, 0.5);
  padding: 16px;
}

.disabled {
  background: rgba(104, 104, 104, 1);
  position: relative;
}

.disabled:hover + .tooltip-button {
  visibility: visible;
}

.enabled {
  background: #444df2;

  &:hover {
    background: #797ef3;
    cursor: pointer;
  }

  &:active {
    background: #444df2;
  }
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45px;
  left: 32px;

  .back-arrow {
    background-image: url("../../../public/img/arrow_back.svg");
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
      border-radius: 50%;
      background-image: url("../../../public/img/arrow_back_hover.svg");
    }
  }
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  .privacy-imprint {
    display: flex;
    gap: 16px;
  }
}

@media(max-width: 1440px) {
  .overlay-start-container {
    height: unset;
  }

  .max-width {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: unset;
  }
}