        <div class="logo">
            <img src="/img/dabubblelogo.svg" alt="DAbubble_logo">
            <div class="typewriter">
                <img *ngFor="let image of currentImages" [src]="image" alt="">
              </div>
        </div>

    </div>

    <div class="to-signup" *ngIf="currentRoute()">
        <span>Neu bei DABubble?</span>
        <a [routerLink]="['/register/create-account']" class="signup-link">Konto erstellen</a>
    </div>
    <router-outlet></router-outlet>
</section>