section {
  background: rgba(236, 238, 254, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vh-100 {
  height: 100vh;
}

.max-width {
  width: 1440px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #eceefe;
  overflow: hidden;
  position: relative;
  transition: background-color 2s ease;
}

.overlay-start-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.width-300 {
  width: 300px;
}

.logo {
  gap: 8px;
}

.startscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: #444DF2;
  animation: blurBackground 2s linear forwards;
  animation-delay: 4s;
}

.logo-icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: switchToLeftCorner 1s linear forwards;
  animation-delay: 4s;

  img {
    position: absolute;
  }

  img:first-child {
    transform: translateX(-125%);
    opacity: 0;
    animation: swipeRight .5s linear forwards;
    animation-delay: 2s;
  }

  img:last-child {
    transform: translateX(-50%);
    animation: swipeLeft .5s linear forwards;
    animation-delay: 1s;
  }
}

@keyframes swipeLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes swipeRight {
  from {
    transform: translateX(-125%);
  }
  to {
    opacity: 1;
    transform: translateX(-35%);
  }
}

@keyframes blurBackground {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes switchToLeftCorner {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  to {
    top: 50px;
    left: 15%;
    transform: scale(0.0001);
  }
}

@keyframes switchToCenter {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  to {
    top: 50px;
    left: 50%;
    transform: scale(0.0001);
  }
}

.input-card {
  display: flex;
  flex-direction: column;
  gap: 46px;
  background-color: #ffff;
  border-radius: 30px;
  position: relative;
  padding: 50px 60px;
}
.input-card-container {

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.2rem;
    position: relative;

    .input-icon {
      margin-right: 0.8rem;
    }
  }
}

input {
  width: 100%;
  height: 3.7rem;
  border: 1px solid rgba(236, 238, 254, 1);
  background: rgba(236, 238, 254, 1);
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Nunito";
  padding-left: 5rem;
  padding-right: 2rem;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;

  &::placeholder {
    color: rgba(104, 104, 104, 1);
  }

  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }

  &:focus {
    border-color: rgba(68, 77, 242, 1);
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-signup {
  flex-direction: column;
}

.style-a {
  font-family: 'Figtree';
  text-decoration: none;
  font-size: 18px;
  color: #797EF3;
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 30px;

  &:hover {
    color: #444Df2;
    font-weight: 500;
    border-color: #ADB0D9;
    cursor: pointer;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.form-error {
  position: absolute;
  line-height: 12px;
  left: 0;
  top: calc(6px + 100%);

  small {
    color: red;
    font-size: 14px;
  }
}

.further-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  position: relative;
}

.tooltip-button {
  visibility: hidden;
  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(20%);
  border-radius: 30px;
  bottom: calc(110%);
  background: #ffff;
  color: red;
  box-shadow: 0 0 8px rgba(68, 77, 242, 0.5);
  padding: 16px;
}

.disabled {
  background: rgba(104, 104, 104, 1);
  position: relative;
}

.disabled:hover + .tooltip-button {
  visibility: visible;
}

.enabled {
  background: #444df2;

  &:hover {
    background: #797ef3;
    cursor: pointer;
  }

  &:active {
    background: #444df2;
  }
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45px;
  left: 32px;

  .back-arrow {
    background-image: url("../../../public/img/arrow_back.svg");
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
      border-radius: 50%;
      background-image: url("../../../public/img/arrow_back_hover.svg");
    }
  }
}

.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .privacy-imprint {
    display: flex;
    gap: 16px;
  }
}

.pd-top-50 {
  padding-top: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1250px) {
  .max-width {
    padding: 24px;
  }

  .input-card {
    padding: 40px 45px;
    gap: 20px;
  }

  .width-300 {
    width: 200px;
  }

  .to-signup {
    padding-right: 24px;
  }

  .logo {
    padding-left: 24px;
  }
}

@media(max-width: 1050px) {
  .max-width {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: unset;
    gap: 16px;
  }

  .to-signup {
    padding: 0;
  }

  .pd-top-50 {
    padding: unset;
  }

  .overlay-start-container {
    height: unset;
  }

  .logo-icon {
    animation: switchToCenter 1s linear forwards;
    animation-delay: 4s;
  }
}

@media(max-width: 800px) {
  .logo-icon {  
    img:first-child {
      width: 200px;
    }
  
    img:last-child {
      width: 100px;
    }
  }
}

@media(max-width: 620px) {
  .input-card {
    padding: 20px 20px;
  }

  .back-link {
    top: 40px !important;
    left: 6px !important;
  }

  .max-width {
    padding: unset;
  }
}

@media(max-width: 420px) {
  form {
    width: 290px;
  }

  .input-card {
    padding: 20px 10px;
    width: 100%;
  }

  .max-width {
    gap: 8px;
  }

  input {
    &::placeholder {
      font-size: 14px;
    }
  }

  .gast-login-btn .main {
    font-size: 0.9rem;
  }

  .logo-icon {  
    img:first-child {
      width: 120px;
    }
  
    img:last-child {
      width: 60px;
    }
  }

  .max-width {
    padding: 24px 0;
  }
}

@media(max-height: 850px) {
  .vh-100 {
    min-height: 100vh;
    height: unset;
  }
}

@media(min-height: 1200px) {
  .max-width {
    max-height: 75%;
  }}