@use '../../chatroom.component.scss';

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

    font-family: 'Nunito';
}

.messages-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    width: 100%;

    font-size: 20px;
    font-weight: 700;

    >div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.direct-messages {
    display: flex;
    flex-direction: column;
    gap: 13px;

    padding-inline-start: 20px;
}