<section>

    <div class="messages-head">
        <div>
        <img src="/img/arrow_drop_down.png" alt="">
            <img src="/img/account_circle.png" alt="">
            <span>Direktnachrichten</span>
        </div>
        <img (click)="openDialog()" src="/img/add.png" alt="">
    </div>

    <div class="direct-messages">
        <div class="user-view-medium">
            <img src="/img/steffen_hoffmann.png" alt="">
            <span (click)="onUserClick('Theo')">Theo</span>
        </div>
        <div class="user-view-medium">
            <img src="/img/steffen_hoffmann.png" alt="">
            <span (click)="onUserClick('Stephan')">Stephan</span>
        </div>
        <div class="user-view-medium">
            <img src="/img/steffen_hoffmann.png" alt="">
            <span (click)="onUserClick('Christopher')">Christopher (Du)</span>
        </div>
    </div>
</section>