<section class="channel-directmessage-section">

    <div class="messages-head">
        <div (click)="openDirectmessages()">
            <div class="arrow-drop-down-img"
                [ngStyle]="{ 'transform': directmessagesOpen ? 'rotate(0deg)' : 'rotate(-90deg)' }"></div>
            <div class="account-circle-img"></div>
            <span>Direktnachrichten</span>
        </div>
        <div (click)="openDialog()" class="add-icon"></div>
    </div>

    <ul class="channels-directmessages-list">
        <!-- Current user -->
        <app-user-view-small *ngIf="usersDb.currentUser as user" [user]="user" (click)="selectChat(user); selectUser(user.id)"
            [selectedUserId]="selectedUserId"
            [ngClass]="{'fold-in-directmessages': !directmessagesOpen, 'fold-out-directmessages': directmessagesOpen}"></app-user-view-small>

        <!-- Added users in directmessages -->
        <app-user-view-small *ngFor="let user of getUserList()" [user]="user" (click)="selectChat(user); selectUser(user.id)"
            [selectedUserId]="selectedUserId"
            [ngClass]="{'fold-in-directmessages': !directmessagesOpen, 'fold-out-directmessages': directmessagesOpen}"></app-user-view-small>
    </ul>

    <!-- Add user -->
    <div class="add-user-or-channel-view" (click)="openDialog()"
        [ngClass]="{'fold-in-add-directmessage': !directmessagesOpen, 'fold-out-add-directmessage': directmessagesOpen}">
        <div class="add-circle-icon" [ngClass]="{'add-circle-icon-hover': dialog}"></div>
        <span>Benutzer hinzufügen</span>
    </div>

</section>

<app-add-friend-dialog [dialogOpen]="dialog" (dialogClose)="closeDialog(!$event)"></app-add-friend-dialog>
<app-transparent-background [backgroundOpen]="dialog"
    (backgroundClose)="closeDialog(!$event)"></app-transparent-background>