@use '../../chatroom.component.scss';

* {
    font-family: 'Nunito';
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}

.messages-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    width: 100%;

    font-size: 20px;
    font-weight: 700;

    >div {
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
            cursor: pointer;

            color: #535Af1;

            .arrow-drop-down-img {
                background-image: url('/img/arrow_drop_down_hover.svg');
            }

            .account-circle-img {
                background-image: url('/img/account_circle_hover.svg');
            }
        }
    }
}

.arrow-drop-down-img {
    width: 30px;
    height: 30px;

    background-image: url('/img/arrow_drop_down.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.account-circle-img {
    width: 24px;
    height: 24px;

    background-image: url('/img/account_circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.direct-messages {
    display: flex;
    flex-direction: column;
    gap: 13px;

    padding-inline-start: 20px;
}