<section>

    <div class="messages-head">
        <div>
            <img src="/img/arrow_drop_down.png" alt="">
            <img src="/img/account_circle.png" alt="">
            <span>Direktnachrichten</span>
        </div>
        <img (click)="openDialog()" src="/img/add.png" alt="">
    </div>

    <ul class="direct-messages">
        <li *ngFor="let user of getUserList()" class="user-view-small" (click)="selectName(user.userName)">
            <div>
                <img src="{{user.avatar}}" alt="">
                <div class="active-status online" [ngClass]="{'online': user.active, 'offline': !user.active}"></div>
            </div>
            <span>{{user.userName}}</span>
        </li>
        <span>
            Drücke auf '+' um eine neue Konversation zu starten.
        </span>
    </ul>
</section>