<section class="registration-card">


  <div class="back-link">
    <a [routerLink]="'/register/login'"><img src="/img/arrow_back.png"></a>
  </div>

  <h2>Passwort zurücksetzen</h2>

  @if (!sendMail) {
  <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

  <form [formGroup]="loginFormEmail" (ngSubmit)="onSendMail()">
    <div>
      <input required id="email" formControlName="email" type="email" placeholder="beispielname@email.com" />
      <div *ngIf="loginFormEmail.get('email')?.touched && loginFormEmail.get('email')?.invalid">
        <small *ngIf="loginFormEmail.get('email')?.hasError('required')">Email ist erforderlich.</small>
        <small *ngIf="loginFormEmail.get('email')?.hasError('email')">Bitte eine gültige Email eingeben.</small>
      </div>
    </div>

    <div class="further-button">
      <button type="submit" [disabled]="loginFormEmail.invalid">E-mail senden</button>
    </div>
  </form>
  }
  @else {
  <form [formGroup]="loginFormPassword" (ngSubmit)="changePassword()">
    <div>
      <input required id="password" formControlName="password" type="password" placeholder="Neues Passwort" />
    </div>

    <div>
      <input required id="confirmPassword" formControlName="confirmPassword" type="password"
        placeholder="Neues Passwort bestätigen" />
      <div>
        <small *ngIf="loginFormPassword?.errors?.['missmatch'] && loginFormPassword?.touched">Ihre Kennwörter stimmen
          nich
          überein</small>
      </div>
    </div>

    <div class="further-button">
      <button type="submit" [disabled]="loginFormPassword.invalid">Passwort ändern</button>
    </div>
  </form>
  }
</section>