

.registration-card {
    width: 43.6rem;
    height: 29.3rem;    
}

.card-container {
    height: 100%;
    background-color: #ffff;
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 30px;
}

h2 {
    text-align: center;
    color: rgba(68, 77, 242, 1);
    font-size: 2.8rem;
    font-weight: 700;
    font-family: 'Nunito';
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.back-link {
    top: 45px;
    font-size: 1.25rem;
    font-weight: 400;
    
}

span {
    text-align: center;
    
    

}



input {
    width: 31rem;
    height: 3.7rem;
    border: 1px solid rgba(236, 238, 254, 1);
    background: rgba(236, 238, 254, 1);
    border-radius: 100px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Nunito';
    padding-left: 5rem;
    padding-right: 2rem;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;

    &::placeholder {
      color: rgba(104, 104, 104, 1);
    }

    &:hover {
      border-color: rgba(0, 0, 0, 0.4);
    }

    &:focus {
      border-color: rgba(68, 77, 242, 1);
    }
  }

  .input-icon {
    position: absolute;
    margin-left: 30px;
    margin-top: 18px;
  }