<section class="registration-card">

    <div class="back-link">
        <a [routerLink]="'/register/login'"><img src="/img/arrow_back.png"></a>
      </div>

    <h2>Passwort zurücksetzen</h2>

    <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" />
          <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
            <small *ngIf="loginForm.get('email')?.hasError('required')">Email ist erforderlich.</small>
            <small *ngIf="loginForm.get('email')?.hasError('email')">Bitte eine gültige Email eingeben.</small>
          </div>
        </div>
      </form>

      <div class="further-button">
        <button (click)="onSubmit()" [disabled]="loginForm.invalid">E-mail senden</button>
    </div>
</section>