<section class="registration-card">
  <div class="card-container">
  <a class="back-link" [routerLink]="'/register/login'">
    <div class="back-arrow"></div>
  </a>

  <h2>Passwort zurücksetzen</h2>

  <h4>Bitte geben Sie Ihre E-Mail-Adresse ein.</h4>

  <form [formGroup]="loginFormEmail" (ngSubmit)="onSendMail()">
    <div>
      <img class="input-icon" src="/img/mail-icon.svg" alt="">
      <input required id="email" formControlName="email" type="email" placeholder="beispielname@email.com" />
      <div *ngIf="loginFormEmail.get('email')?.touched && loginFormEmail.get('email')?.invalid">
        <small *ngIf="loginFormEmail.get('email')?.hasError('required')">Email ist erforderlich.</small>
        <small *ngIf="loginFormEmail.get('email')?.hasError('email')">Bitte eine gültige Email eingeben.</small>
      </div>
    </div>
  </form>
  <div class="about-mail">
    <span>Wir senden Ihnen eine E-Mail, über die <br>
      Sie Ihr Passwort ändern können.</span>
  </div>

  <div class="mail-btn-container">
    <button class="mail-btn" type="submit" [disabled]="loginFormEmail.invalid">E-mail senden</button>
  </div>
</div>
</section>