@mixin styleFont {
    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;
    color: #686868;
}

@mixin iconsTextarea($image, $imageHover) {
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-image: url($imageHover);
        cursor: pointer;
        background-color: #ECEEFE;
        border-radius: 50%;
    }
}

section {
    position: relative;
}

.send-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 20px;
    position: relative;

    >textarea {
        border: none;
        outline: none;
        resize: none;
        background: transparent;
        @include styleFont;

        &::placeholder {
            @include styleFont;
            font-size: 18px;
        }
    }
}

.reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        gap: 5px;
    }
}

.emoji-picker {
    @include iconsTextarea('./../../../../public/img/sentiment_satisfied.png', './../../../../public/img/sentiment_satisfied_hover.png');
}

a {
    width: 40px;
    height: 40px;
    background-image: url('./../../../../public/img/send.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    &:hover {
        background-image: url('./../../../../public/img/send_hover.png');
        cursor: pointer;
    }
}

.emoji-component {
    position: absolute;
    bottom: 100%;
    // right: 50%;
    // transform: translateX(50%);
}

.tag-user {
    position: relative;

    .at-member {
        @include iconsTextarea('./../../../../public/img/alternate_email.png', './../../../../public/img/alternate_email_hover.png');
    }

    .user-list {
        background-color: #FFFF;
        border: 1px solid #ADB0D9;
        border-radius: 30px;
        padding: 24px 12px;
        position: absolute;
        bottom: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 960px) {
    .send-text {
        gap: 20px;
    }

    .tag-user {
        .user-list {
            transform: translateX(-25%);
        }
    }
}