<section>
  <div class="send-text" (click)="$event.stopPropagation(); closeUserList()">
    <textarea
      #textAreaRef
      (keydown.enter)="checkTextLength($event)"
      (keydown)="detectAtSymbol($event)"
      (keyup)="autoGrowTextZone($event)"
      [(ngModel)]="message"
      placeholder="{{ this.getPlaceholder() }}"
      disabled="{{ condition }}"
    ></textarea>

    <div class="reactions">
      <div>
        <div class="emoji-picker" (click)="toggleEmoji()"></div>
        <div class="tag-user">
          <div class="at-member" (click)="toggleUserList(); $event.stopPropagation()"></div>
          <div *ngIf="this.userList" class="user-list">
            <app-user-view-small
              *ngFor="let user of getUserList()"
              [user]="user"
              (click)="tagUser(user)"
            ></app-user-view-small>
          </div>
        </div>
      </div>
      <a (click)="checkTextLength($event)"></a>
    </div>
  </div>
  <div
    class="emoji-component"
    *ngIf="emojiMartOpen"
    (click)="$event.stopPropagation()"
  >
    <app-emoji-picker-component
      (emojiSelected)="addEmojiToMessage($event)"
    ></app-emoji-picker-component>
  </div>
</section>