<section *ngIf="dialog" class="user-profil">

    <header class="width-100-percent">
        <h2>Profil</h2>
        <div class="close-icon"></div>
    </header>

    <img class="profil-icon" src="/img/sofia_müller.png" alt="">

    <form class="width-100-percent" onSubmit="return false">

        <div class="name-wrapper">
            <div>
                <span>Mäuschen</span>
                <div>
                    <div>*</div>
                    <span>Abwesend</span>
                </div>
            </div>

            <button>Bearbeiten</button>
        </div>

    </form>

</section>