<section class="registration-card">

    <div class="back-link">
      <a [routerLink]="'/register/login'"><img src="/img/arrow_back.png"></a>
    </div>

    <h2>Konto erstellen</h2>
    <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    
    <form [formGroup]="loginForm" (ngSubmit)="getUser()">
        <div class="input-container">
            <label for="email">Email</label>
            <div class="input-wrapper">
              <span class="input-icon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              <input id="name" formControlName="name" type="text" class="input-field" placeholder="Name und Nachname" />
            </div>
            <div *ngIf="loginForm.get('name')?.touched && loginForm.get('name')?.invalid">
              <small *ngIf="loginForm.get('name')?.hasError('required')">Email ist erforderlich.</small>
              <small *ngIf="loginForm.get('name')?.hasError('name')">Bitte eine gültige Email eingeben.</small>
            </div>
          </div>
    
          <div class="input-container">
            <label for="email">Email</label>
            <div class="input-wrapper">
              <span class="input-icon">
                <i class="icon" aria-hidden="true">:e_mail:</i>
              </span>
              <input id="email" formControlName="email" type="email" class="input-field" placeholder="beispielname@email.com" />
            </div>
            <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
              <small *ngIf="loginForm.get('email')?.hasError('required')">Email ist erforderlich.</small>
              <small *ngIf="loginForm.get('email')?.hasError('email')">Bitte eine gültige Email eingeben.</small>
            </div>
          </div>

          <div class="input-container">
            <label for="email">Email</label>
            <div class="input-wrapper">
              <span class="input-icon">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
              <input id="password" formControlName="password" type="text" class="input-field" placeholder="Passwort" />
            </div>
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
              <small *ngIf="loginForm.get('password')?.hasError('required')">Email ist erforderlich.</small>
              <small *ngIf="loginForm.get('password')?.hasError('password')">Bitte eine gültige Email eingeben.</small>
            </div>
          </div>
    
        <!-- <button type="submit" [disabled]="loginForm.invalid">Login</button> -->
      </form>
      <div class="further-button">
        <button 
            (click)="getUser()"
            [disabled]="loginForm.invalid">Weiter</button>
    </div></section>