<section class="header-container">
  <header class="login_header">
      <div class="logo">
          <img src="/img/dabubblelogo.svg" alt="DAbubble_logo">
          <span>DABubble</span>
      </div>
  </header>
  <section class="input-card">
    <div class="input-card-container">
      <h2>Konto erstellen</h2>
      <span>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</span>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <div class="input-field">
            <img class="input-icon" src="/img/mail-icon.svg" alt="">
            <input id="name" placeholder="Name und Nachname" formControlName="name" type="name" />
          </div>
  
        </div>
          <div class="input-container">
            <div class="input-field">
              <img class="input-icon" src="/img/mail-icon.svg" alt="">
              <input id="email" placeholder="YourEmail@email.com" formControlName="email" type="email" />
            </div>
            
          </div>
      
          <div class="input-container">
            <div class="input-field">
              <img class="input-icon" src="/img/lock-icon.svg" alt="">
              <input id="password" placeholder="password" formControlName="password" type="password" />
            </div>
            
          </div>
          <div class="privacy-agreement">
            <input type="checkbox" id="privacy" />
            <label for="privacy">
              Ich stimme der <a href="/datenschutzerklaerung" target="_blank">Datenschutzerklärung</a> zu.
            </label>
          </div>
          <div class="btn-container login-btn-container">
            <button class="main-btn" type="submit" [disabled]="loginForm.invalid">Weiter</button>
          </div>
        </form>
    </div>
  </section>
</section>
<div>

