@use "../registration.component.scss";

.input-card {
  padding: 0;
}

.input-card {
  gap: 40px;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 67px 0 67px;
  font-size: 20px;

  h2 {
    text-align: center;
    color: rgba(68, 77, 242, 1);
    font-size: 2.8rem;
    font-weight: 700;
    font-family: "Nunito";
  }

  span {
    width: 486px;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;    
  width: 500px;
}

.input-icon {
  position: absolute;
  margin-left: 30px;
  margin-top: 18px;
}

.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center ;
  justify-content: flex-start;
  gap: 8px;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 400;

  input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 20px;
    border: 3px solid rgba(121, 126, 243, 1);
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      border-color: rgba(68, 77, 242, 1);
      box-shadow: 0 0 8px rgba(68, 77, 242, 0.5);
    }

    &:checked {
      background-color: #fff;
      border-color: rgba(68, 77, 242, 1);

      &::after {
        content: "✔";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(68, 77, 242, 1);
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  label {
    a {
      color: rgba(68, 77, 242, 1);
      text-decoration: none;
      border-radius: 12px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: rgba(210, 211, 255, 1);
        color: rgba(68, 77, 242, 1);
      }
    }
  }
}

@media (max-width: 650px) {
  .head {
    padding: 40px 20px 0 20px;
    h2 {
      font-size: 32px;
    }

    span {
      font-size: 14px;
      width: 358px;
    }
  }

  input {
    height: 3rem;
  }

  .input-icon {
    margin-top: 12px;;
  }

  form {
    width: 358px;
    gap: 20px;
  }

  .input-card {
    gap: 20px;
  }
} 

@media(max-width: 960px) {
  .tooltip-button {
    display: none;
  }
}

@media(max-width: 450px) {
  .head {
    gap: 18px;
    padding: 40px 10px 0 10px;

    span {
      width: 290px;
    } 
  }

  .input-card {
    gap: 20px;
  }

  form {
    gap: 20px;
    width: 290px;
  }

  label {
    font-size: 14px;
  }
}

@media(max-width: 400px) {
  .head form {
    width: 290px;;
  }
}