@use '../registration.component.scss';

.input-card {
  height: 669px;
}

h2 {
    text-align: center;
    color: rgba(68, 77, 242, 1);
    font-size: 2.8rem;
    font-weight: 700;
    font-family: 'Nunito';
}

span {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    padding: 2rem;
}

.input-icon {
    position: absolute;
    margin-left: 30px;
    margin-top: 18px;
  }

  .privacy-agreement {
    width: 31rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 30px;
  
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      accent-color: #646cff;
      cursor: pointer;
    }
  
    label {
      a {
        color: rgba(121, 126, 243, 1);
        text-decoration: none;
        font-weight: 400;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .form-error {
    small {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: red;
    }
  }