.message-field {
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: grid;
    flex: 1;
    scrollbar-width: none;
    position: relative;

    .flex-end {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
    }

    div {
        width: 100%;
    }
}

.message-wrapper {
    padding: 10px 20px;
}

.overflow {
    overflow: scroll;
}

.d-none {
    display: none;
}

@media(max-width: 500px) {
    .message-wrapper {
        padding: 10px;
    }
}