<section class="channel-directmessage-section">

    <div class="channels-head">
        <div (click)="openChannels()">
            <div class="arrow-drop-down-img"
                [ngStyle]="{ 'transform': channelsOpen ? 'rotate(0deg)' : 'rotate(-90deg)' }"></div>
            <div class="workspaces-img"></div>
            <span>Channels</span>
        </div>
        <div (click)="openDialog()" class="add-icon"></div>
    </div>

    <ul class="channels-directmessages-list" [ngStyle]="{ 'display': getChannelList().length > 0 ? 'flex' : 'none'}">
        <li *ngFor="let channel of getChannelList()" class="channel-view-small"
            [ngClass]="{'fold-in-channels': !channelsOpen, 'fold-out-channels': channelsOpen}"
            [ngClass]="{'selected': channel.id === selectedChannelId}"
            (click)="selectChannel(channel.id); openChannel(channel.id)">
            <div class="hashtag-icon"></div>
            <span>{{channel.name}}</span>
        </li>
    </ul>

    <!-- Add user -->
    <div class="add-user-or-channel-view"
        [ngClass]="{'fold-in-add-channel': !channelsOpen, 'fold-out-add-channel': channelsOpen}" (click)="openDialog()">
        <div class="add-circle-icon" [ngClass]="{'add-circle-icon-hover': dialog}"></div>
        <span>Channel hinzufügen</span>
    </div>

</section>

<app-create-channel-dialog #channelDialog (dialogComponent)="closeDialog($event)"
    [ngStyle]="{'display': dialogComponent === 'createChannel' ? 'flex' : 'none'}"></app-create-channel-dialog>
<app-add-people-dialog #peopleDialog (dialogComponent)="closeDialog($event)"
    [ngStyle]="{'display': dialogComponent === 'addPeople' ? 'flex' : 'none'}"></app-add-people-dialog>
<app-transparent-background [backgroundOpen]="dialog"
    (backgroundClose)="closeDialog('none')"></app-transparent-background>