<section>

    <div class="channels-head">
        <div class="open-dropdown">
            <img src="/img/arrow_drop_down.png" alt="">
            <div>
                <img src="/img/workspaces.png" alt="">
                <span>Channels</span>
            </div>
        </div>
        <img src="/img/add.png" alt="">
    </div>

    <ul class="channels">
        <li class="channel-view-small">
            <div class="hashtag-icon"></div>
            <span>Entwicklerteam</span>
        </li>
    </ul>

</section>