@use '../../chatroom.component.scss';

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

    font-family: 'Nunito';
}

.channels-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 306px;

    font-size: 20px;
    font-weight: 700;
}

.open-dropdown {
    display: flex;
    align-items: center;
    gap: 15px;

    >div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.channels {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    margin-left: 20px;
}