<section>
    
    <div>
        <a (click)="toggleEmoji()"><img src="/img/add_reaction.png" alt=""></a>
        <app-emoji-picker-component 
            (emojiSelected)="addEmojiToMessage($event, currentMessage)" 
            *ngIf="emojiMartOpen">
        </app-emoji-picker-component>
    </div>

    <a (click)="openThread()"><mat-icon>comment</mat-icon></a>

    <a mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></a>
    <mat-menu class="mat-menu" #menu="matMenu">
      <button (click)="editMessage()" mat-menu-item>Nachricht bearbeiten</button>
    </mat-menu>

</section>