<section>
    
    <a class="tooltip-icon" (click)="toggleEmoji(); $event.stopPropagation()"><img src="/img/add_reaction.png" alt=""></a>

    <a class="tooltip-icon" (click)="openThread()">
        <img src="/img/comment.png" alt="">
    </a>

    <div class="tooltip-icon">
        <a class="vert" (click)="toggleMenu()">
            <img src="/img/more_vert.png" alt="">
        </a>
    </div>
    <div class="edit-message-menu" *ngIf="this.chatService.menu">
        <div>
            <a (click)="editMessage()">Nachricht bearbeiten</a>
        </div>
    </div>

</section>