<section>

    <a class="tooltip-icon" (click)="openThread()">
        <img src="/img/comment.png" alt="">
    </a>

    <a class="tooltip-icon" (click)="openThread()">
        <!-- <img src="/img/comment.png" alt=""> -->
         <div>{{ testEmoji.char }}</div>
    </a>
    
    <a class="tooltip-icon" (click)="toggleEmoji()"><img src="/img/add_reaction.png" alt="">
        <app-emoji-picker-component 
        (emojiSelected)="addEmojiToMessage($event, currentMessage)" 
        *ngIf="emojiMartOpen">
        </app-emoji-picker-component>
    </a>

    <a class="tooltip-icon" (click)="openThread()">
        <img src="/img/comment.png" alt="">
    </a>

    <div class="tooltip-icon">
        <a class="vert" (click)="toggleMenu()">
            <img src="/img/more_vert.png" alt="">
        </a>
    </div>
    <div class="edit-message-menu" *ngIf="menu">
        <div>
            <a (click)="editMessage()">Nachricht bearbeiten</a>
        </div>
    </div>

</section>