.transparent-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0 0 0 / 32%);

    z-index: 3;
}

.animation {
    opacity: 1;
    animation: animation 0.25s;
}

@keyframes animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}