<section class="add-people-dialog" [ngStyle]="{'display': dialogOpen ? 'flex' : 'none'}">
    <header class="header-dialog">
        <h2>Leute hinzufügen</h2>
        <div class="close-icon"></div>
    </header>

    <form action="">
        <div>
            <input [(ngModel)]="selectedOption" name="radio" type="radio" value="option 1" checked>
            <label for="">
                Alle Mitglieder von <span class="color-blue">Office Team</span> hinzufügen
            </label>
        </div>

        <div>
            <input [(ngModel)]="selectedOption" name="radio" type="radio" value="option 2">
            <label for="">Bestimmte Leute hinzufügen</label>
        </div>

        <button class="primary-button">Erstellen</button>
    </form>

</section>