<section *ngIf="dialogWindowControl.isAddPeopleOpen" class="add-people-dialog"
         [ngClass]="{ 'slide-in': !resize.checkMediaW600px, 'slide-in-bottom': resize.checkMediaW600px && !mobileClose,
         'slide-out-bottom': resize.checkMediaW600px && mobileClose }">

  <div class="mobile-close-button">
    <div (click)="closeAddPeopleDialog()"></div>
  </div>

  <header class="header-dialog">
    <h2>Leute hinzufügen</h2>
    <div (click)="closeDialog()" class="close-icon"></div>
  </header>

  <form action="">
    <div class="radio-button">
      <input [(ngModel)]="selectedOption" name="option" type="radio" value="option1">
      <label for="">
        <p class="add-members-from-channel">
          Alle Mitglieder von
          <span class="wrapper">
            <div class="label" (click)="openpdownChannelSelelction()">
              <ng-container *ngFor="let channel of getChannelList(); let i = index">
                <span *ngIf="i == 0" [ngClass]="{ 'highlighted-text': dropdownChannelSelelction }">{{ channel.name }}</span>
              </ng-container>
              <div class="arrow-drop-down"
                   [ngClass]="{ 'arrow-close': !dropdownChannelSelelction, 'arrow-open': dropdownChannelSelelction }"></div>
            </div>
              <div *ngIf="dropdownChannelSelelction" class="popup">
                <ng-container *ngFor="let channel of getChannelList(); let i = index">
                  <span *ngIf="i > 0">{{ channel.name }}</span>
                </ng-container>
              </div>
          </span>
          hinzufügen
        </p>
      </label>
    </div>

    <div>
      <div class="radio-button">
        <input (click)="focusInput()" [(ngModel)]="selectedOption" name="option" type="radio"
               value="option2">
        <label for="">
          <p>
            Bestimmte Leute hinzufügen
          </p>
        </label>
      </div>

      <app-add-people-input #addPeopleInput [component]="'addPeople'" class="input-text"
                            [ngClass]="{'collapsed': selectedOption === 'option1'}" class="width-100-percent"
                            (selectedUserOut)="selectUser($event)"></app-add-people-input>
    </div>

    <button (click)="createChannel()" [disabled]="buttonDisabled()" class="primary-button">Erstellen</button>
  </form>

</section>
