<section>
    <div *ngIf="currentMessage.firstMessageOfTheDay" class="day-seperator">
        <div></div>
        <span class="date">{{ showDate() }}</span>
        <div></div>
    </div>

    <div [ngClass]="getUser()" [class.hover-effect]="!isEditing && this.isMessageFromCurrentUser()">

        <div class="avatar-message">
            <img [src]=usersService.currentUserSig()?.avatar alt="">
        </div>
    
        <div class="content" [ngClass]="isEditing ? 'width-100' : ''">
    
            <div class="time-username" *ngIf="!isEditing">
                <span>{{ getTime() }} Uhr</span>
                <span class="username">{{ currentMessage.messageAuthor.name }}</span>
            </div>
    
            <div [ngClass]="isEditing ? 'edit-content' : 'message-content'">
                <div *ngIf="!isEditing">
                    <span>{{ currentMessage.text }}</span>
                </div>
    
                <div *ngIf="isEditing">
                    <textarea (click)="autoGrowTextZone($event)" [(ngModel)]="currentMessage.text"></textarea>
                    <div class="edittext-buttons">
                        <div>
                            <img src="/img/sentiment_satisfied.png" alt="">
                        </div>
                        <div>
                            <button (click)="updateMessage(currentMessage)">Save</button>
                            <button (click)="cancelEdit()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="emoji-reactions" *ngIf="!isEditing">
                @for (emoji of currentMessage.emojis; track $index) {
                <div class="show-reactions">
                    <div class="displayed-emojii">
                        <div>{{ emoji.emoji }}</div>
                        <div *ngIf="emoji.count > 1">{{ emoji.count }}</div>
                    </div>
                    <div class="emoji-hover">
                        <div>{{ emoji.emoji }}</div>
                        <div class="emoji-from-where">
                         @for (name of emoji.name; track $index) {
                            @if (name === this.usersService.currentUserSig()?.userName) {
                                <span>Du</span>
                            } @else {
                                <span>{{ name }}</span>
                            }
                         }
                        </div>
                        <span>hat reagiert</span>
                    </div>
                </div>
                }
                <a (click)="toggleEmoji()"><img src="/img/add_reaction.png" alt=""></a>
            </div>
        </div>
    
        <div class="tooltip-message">
            <app-tooltip [isEditing]="isEditing" [message]="currentMessage" (isEditingChange)="onIsEditingChange($event)"></app-tooltip>
        </div>
    </div>
</section>