@mixin border {
    border: 1px solid #ADB0D9;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.own-message {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: flex-start;
    font-family: 'Nunito';
    position: relative;
}

.other-message {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    font-family: 'Nunito';
    position: relative;
/*     padding: 10px 146px 10px 45px; */
    padding: 10px 0px 10px 45px;
}

.friend-message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    font-family: 'Nunito';
    position: relative;
    // padding: 10px 45px 10px 146px;
}

.hover-effect {
    &:hover {
        background-color: #ECEEFE;
        cursor: pointer;
    }

    &:hover .tooltip-message {
        visibility: visible;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    position: relative;
}

.width-100 {
    width: 100%;
}

.time-username {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    .username {
        font-weight: 700;
        font-size: 18px;
    }
}

.message-content {
    background-color: #797EF3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    color: #FFFF;
}

.avatar-message {
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}

.emoji-reactions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: relative;

    a {
        display: flex;
        align-items: center;
    }

    .show-reactions {
        display: flex;
    }
}

.tooltip-message {
    position: relative;
    visibility: hidden;
    background-color: #FFFF;
    padding: 3px 15px 3px 20px;
    @include border();
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: absolute;
    top: -10px;
    left: 70px;
}

.edit-content {
    @include border();
    background-color: #FFFF;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .edittext-buttons {
        display: flex;
        justify-content: space-between;
    }

    textarea {
        border: none;
        background: transparent;
        outline: none;
        font-family: 'Nunito';
        width: 100%;
    }
}

.displayed-emojii {
    display: flex;
    align-items: center;
    gap: 10px;
    @include border();
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #FFFF;
}

.emoji-picker {
    position: relative;
    z-index: 2;
}

.emoji-hover {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    background-color: #444DF2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-family: 'Nunito';
    font-weight: 400;

    div {
        text-align: center;
    }

    span {
        text-align: center;
        white-space: nowrap;
    }
}

.emoji-from-where {
    display: flex;
    flex-direction: column;
}

.show-reactions {
    position: relative;
}

.show-reactions:hover .emoji-hover {
    visibility: visible;
}

.day-seperator {
    display: flex;
    justify-content: center;
    align-items: center;

    .date {
        padding: 5px 15px;
        border: 1px solid #ADB0D9;
        border-radius: 30px;
    }

    div {
        border: 1px solid #ADB0D9;
        flex: 1;
    }
}

.click-emoji {
    position: relative;

    div{
        position: absolute;
        top: 0;
        right: 100%;
        display: flex;
    }
}