<div class="message-logedin-user">
    <div class="avatar-message">
        <img src="/img/empty_profile.png" alt="">
    </div>
    <div class="content">
        <div class="time-username">
            <span>{{ getTime() }} Uhr</span>
            <span class="username">{{ currentMessage.uid }}</span>
        </div>
        <div class="message-content">
            <span>{{ currentMessage.text }}</span>
        </div>
        <div class="emoji-reactions">
            <img src="/img/Reaction indicator.png" alt="">
            <a><img src="/img/add_reaction.png" alt=""></a>
        </div>
    </div>

    <div class="tooltip-message">
        <span>test</span>
        <span>test</span>
        <span>test</span>
    </div>
</div>