<section>

    <div class="added-user-wrapper">
        @if (component === 'addPeople' || component === 'addMembers') {
        <div *ngIf="component === 'addMembers' ? selectedUserList.length > 0 : selectedUserList.length > 1" class="input-added-user" [class.scrolling]="isDragging" #scrollContent
            (mousedown)="startDragging($event)"
            (mouseleave)="stopDragging()"
            (mouseup)="stopDragging()"
            (mousemove)="onDragging($event)">
            @for (selectedUser of selectedUserList; track selectedUser; let i = $index ) {
            <div *ngIf="component === 'addMembers' || i > 0" class="user-view-input">
                <img src="{{selectedUser['avatar']}}" alt="">
                <span>{{selectedUser['userName']}}</span>
                <div (click)="removeUser(i)" class="close-icon" (mousedown)="$event.stopPropagation()"></div>
            </div>
            }
        </div>
        } @else {
        <div *ngIf="selectedUser['id']" class="input-added-user">
            <div class="user-view-input">
                <img src="{{selectedUser['avatar']}}" alt="">
                <span>{{selectedUser['userName']}}</span>
                <div (click)="resetSelectedUser()" class="close-icon"></div>
            </div>
        </div>
        }

        <input #inputField *ngIf="!selectedUser['id']" class="input-text" [(ngModel)]="userName" name="userName" type="text"
            placeholder="Name eingeben" autocomplete="off">
    </div>

    <ul *ngIf="filteredUsersAfterInput().length > 0" class="dropdown-add-user">
        <ng-container *ngFor="let user of getUserList()">
            <app-user-view-small *ngIf="filteredUserForDropdown(user.userName)"
                (click)="selectUser(user.id); focusInput(); addItem()" [user]="user"></app-user-view-small>
        </ng-container>
    </ul>

</section>