<section class="registration-card flexbox-avatar">   
    <div class="card-container">
        <a class="back-link" [routerLink]="'/register/create-account'">
            <div class="back-arrow">
            </div>
        </a>
    <h2>Wähle deinen Avatar</h2>
    <div class="avatar">
        <div class="current-avatar">
            <img [src]="currentAvatar" alt="">
        </div>

        <div class="select-avatar">
            <div>
                <h4>Max Mustermann</h4>
            </div>
            <div>
                <span>Aus der Liste wählen</span>
            
            <article class="avatar-list">
                @for (avatar of avatars; track $index) {
                    <div class="avatar-image" (click)="chooseAvatar($index)">
                        <img [src]="avatar">
                    </div>
                }
            </article>
        </div>
        </div>
    </div>
    <div class="further-button">
        <button class="main-btn" (click)="onRegister()" [disabled]="currentAvatar === '/img/empty_profile.png'">Weiter</button>
    </div>
</div>
</section>