<section class="header color">
  <div class="logo-container">
    <img class="logo" src="/img/logo_complete.png" />
  </div>

  <div class="search-container">
    <div class="search-wrapper">
      <input (input)="searchDevspace()" [(ngModel)]="searchTextInput" class="input-text" type="text"
        placeholder="Devspace durchsuchen" />
      <div class="search-icon"><img src="/img/search_icon.svg" alt=""></div>
    </div>
    <div [ngClass]="get()">
      <div *ngIf="this.searchService.isLoading()" class="loading-spinner"></div>
        <div *ngIf="!this.searchService.isLoading() && resultsData.length > 0">
        <div *ngFor="let result of resultsData" (click)="goToSearchResult(result)" class="search-single-result" [ngStyle]="result.searchResult.component == 'threads' ? {'flex-direction': 'column', 'gap': '0', 'align-items': 'center'}: {}">
          <div class="chat-info">
            @if(result.searchResult.component == 'channels') {
              <span>#</span>
              <span>{{ result.searchResult.chatPartner.chatPartner }}</span>
            } @else if (result.searchResult.component == 'messages') {
              <span>(at)</span>
              <span class="weight-bold">{{ this.checkChatPartner(result.searchResult.chatPartner.chatPartner, result.searchResult.chatPartner.currentUser) }}</span>
            } @else {
              <div class="thread-result">
                <span>{{ getChatIcon(result) }}</span>
                <span class="chat-partner">{{ this.checkChatPartner(result.searchResult.originalChatInfo.originalChatName.chatPartner, result.searchResult.originalChatInfo.originalChatName.currentUser) }}</span>
                <span>-></span>
                <div>
                  <span class="thread-from-message">Thread von Nachricht:</span>
                  <span>{{ result.searchResult.originalChatInfo.originalMessage }}</span>
                </div>
              </div>
            }
            <!-- <span>{{ getChatIcon(result) }}</span>
            <span>{{ getChatPartner(result) }}</span> -->
          </div>
          <div>
            <span>{{ result.searchResult.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="usersDb.currentUser as user" (click)="openDropdown()" class="user-profil-wrapper">
    <div class="user-profil">
      <h2>{{ user.userName }}</h2>
      <div>
        <img src="{{ user.avatar || '/img/empty_profile.png' }}" alt="" />
        <div class="active-status" [ngClass]="{ online: user.active, offline: !user.active }"></div>
      </div>
      <div class="arrow-drop-down-icon"></div>
    </div>

    <ul [ngStyle]="{ display: dropdown ? 'flex' : 'none' }" class="dropdown-profil animation">
      <button (click)="openDialog(user)">Profil</button>
      <button (click)="onLogout()">Log out</button>
    </ul>

    <app-user-profil [dialogOpen]="dialog" (dialogClose)="dialog = !$event" [useAs]="'edit'" [userSig]="userSig"></app-user-profil>
  </div>
</section>

<app-transparent-background [backgroundOpen]="dropdown"
  (backgroundClose)="closeDropdown(!$event)"></app-transparent-background>
<div *ngIf="dialog" (click)="dialog = false" class="background-user-profil"></div>