@use '../chatroom.component.scss';

* {
    font-family: 'Nunito';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 32px;
}

.logo {
    width: 242px;
    height: 70px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .input-text {
        padding: 17.5px 45px;

        border: none;
        border-radius: 42px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;

        max-height: 55px;

        padding: 17.5px 45px;

        background-color: #FFFFFF;

        border-radius: 42px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:focus-within {

        .search-icon {
            background-image: url('/img/search_focus_icon.svg');
        }
    }
}

.user-profil-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.user-profil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2 {
        font-size: 32px;
        font-weight: 700;
    }

    img {
        width: 70px;
        height: 70px;

        border-radius: 50%;

        object-fit: contain;
    }

    &>div {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .active-status {
        width: 16.67px;
        height: 16.67px;
    }

    &:hover {
        cursor: pointer;

        h2 {
            color: #797FF3;
        }

        .arrow-drop-down-icon {
            background-image: url('/img/arrow_drop_down_profil_hover.svg');
        }
    }
}

.dropdown-profil {
    position: absolute;
    transform: translate(-16px, 102.5%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding: 30px;

    background-color: #FFFFFF;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    z-index: 4;

    filter: drop-shadow(0px 5px 5px rgba(0 0 0 / 20%));

    button {
        width: 222px;

        padding: 10px 45px;

        border: none;
        border-radius: 100px;

        font-size: 24px;
        font-weight: 600;

        background-color: #FFFFFF;

        &:hover {
            cursor: pointer;

            color: #5d63f2;
            background-color: #ECEEFE;
        }
    }
}

.animation {
    opacity: 1;
    animation: animation 0.25s;
}

.search-container {
    position: relative;

    .search-results {
        position: absolute;
        top: 110%;
        z-index: 5;
        background-color: #FFFF;
        width: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid #adb0d9;
        border-radius: 30px;
        color: #797ef3;
        padding: 24px;

        .search-single-result {
            display: flex;
            gap: 24px;
            padding: 15px 25px;
            font-size: 18px;

            &:hover {
                cursor: pointer;
                background-color: #ECEEFE;
                border-radius: 30px;            
            }

            .chat-info {
                display: flex;
            }
        }
    }
}

@keyframes animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.background-user-profil {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 4;

    background-color: rgba(0 0 0 / 32%);
}