<section *ngIf="dialogOpen && channelUserDataListReverse" class="channel-members-info">

    <header class="width-100-percent">
        <h2>Mitglieder</h2>
        <div class="close-icon"></div>
    </header>

    <div class="member-list width-100-percent">
        <app-user-view-small *ngFor="let user of channelUserDataListReverse" [user]="user"></app-user-view-small>

        <div>
            <div class="person-add-icon">
                <div></div>
            </div>
            <span>Mitglieder hinzufügen</span>
        </div>
    </div>

</section>