<section *ngIf="dialogWindowControl.isMembersInfoOpen && channelUserDataListReverse"
         class="channel-members-info animation" [ngStyle]="{ 'z-index': isDialogOpen() ? '3' : '10' }">

  <header class="width-100-percent">
    <h2>Mitglieder</h2>
    <div (click)="closeMembersInfoDialog()" class="close-icon"></div>
  </header>

  <div class="member-list-wrapper width-100-percent">
    <div class="member-list">
      <app-user-view-small *ngFor="let user of channelUserDataListReverse"
                           [user]="user" (click)="user.id !== usersDb.currentUser?.id ? openUserProfilDialog(user) : null"
                           [cursorDefault]="true"></app-user-view-small>
    </div>

    <div (click)="openAddMembers()">
      <div class="person-add-icon">
        <div></div>
      </div>
      <span>Mitglieder hinzufügen</span>
    </div>
  </div>

</section>

<app-user-profil [useAs]="'info'" [userSig]="userSig"></app-user-profil>
