<section *ngIf="dialogWindowControl.isDataWindowOpen && channelsDb.channel as channel"
         class="channel-data-window animation" [ngStyle]="{ 'z-index': isMobile() ? '1' : '10' }">

  <header class="width-100-percent">
    <div>
      <div class="hashtag-icon"></div>
      <h2>{{ channel.name }}</h2>
    </div>
    <div (click)="closeDataWindowDialog()" class="close-icon"></div>
  </header>

  <form>

    <div class="box width-100-percent">
      <div class="width-100-percent">
        <span class="headline">Channel Name</span>

        @if (!resize.checkMediaW960px) {
          @if (!channelNameEdit) {
            <button class="edit-button" (click)="editChannel('name')">
              <span class="edit-button-text">Bearbeiten</span>
            </button>
          } @else {
            <button class="edit-button" (click)="editChannel('name'); saveChannel()">
              <span class="edit-button-text">Speichern</span>
            </button>
          }
        } @else {
          @if (!channelNameEdit) {
            <button class="edit-button edit-button-mobile" (click)="editChannel('name')">
              <div></div>
            </button>
          } @else {
            <button class="edit-button check-button-mobile" (click)="editChannel('name'); saveChannel()">
              <div></div>
            </button>
          }
        }

      </div>
      <div *ngIf="!channelNameEdit">
        <div class="hashtag-icon"></div>
        <span>{{ channel.name }}</span>
      </div>
      <input class="input-text" [(ngModel)]="channelName" (ngModelChange)="updateValue($event)" name="channelName"
             *ngIf="channelNameEdit" type="text" placeholder="#   Entwicklerteam" (keydown)="onKeyDown($event)">
    </div>

    <div class="box width-100-percent">
      <div class="width-100-percent">
        <span class="headline">Beschreibung</span>

        @if (!resize.checkMediaW960px) {
          @if (!channelDescriptionEdit) {
            <button class="edit-button" (click)="editChannel('description')">
              <span class="edit-button-text">Bearbeiten</span>
            </button>
          } @else {
            <button class="edit-button" (click)="editChannel('description'); saveChannel()">
              <span class="edit-button-text">Speichern</span>
            </button>
          }
        } @else {
          @if (!channelDescriptionEdit) {
            <button class="edit-button edit-button-mobile" (click)="editChannel('description')">
              <div></div>
            </button>
          } @else {
            <button class="edit-button check-button-mobile" (click)="editChannel('description'); saveChannel()">
              <div></div>
            </button>
          }
        }

      </div>
      <p *ngIf="!channelDescriptionEdit">
        {{ channel.description }}
      </p>
      <textarea class="textarea-text" [(ngModel)]="channelDescription" name="channelDescription"
                *ngIf="channelDescriptionEdit" placeholder="Dein Text hier" maxlength="120"></textarea>
      <div class="separater width-100-percent"></div>
      <div>
        <span class="headline">Erstellt von</span>
        <ng-container *ngFor="let user of channelsDb.channelUserDataList">
          <h2 *ngIf="getUserCreated(user.id)">{{ user.userName }}</h2>
        </ng-container>
      </div>
    </div>

    <div class="members width-100-percent">
      <h2 class="width-100-percent">Mitglieder</h2>

      <div class="member-list-wrapper width-100-percent">
        <div class="member-list width-100-percent">
          <app-user-view-small *ngFor="let user of channelUserDataListReverse" [user]="user"></app-user-view-small>
        </div>

        <div (click)="openAddMembers()" class="member-add-button">
          <div class="person-add-icon">
            <div></div>
          </div>
          <span>Mitglieder hinzufügen</span>
        </div>
      </div>
    </div>

    <button class="primary-button" type="button" (click)="leaveChannel()">Channel verlassen</button>

  </form>

</section>
