.chatroom {
    height: 100vh;
}

.communication-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.channel-messages {
    flex: 1;
}



/* ----- */
/* Views */
/* ----- */
.user-view-small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    width: max-content;

    padding: 4px 20px;

    transition: all 75ms;

    border-radius: 35px;

    &>div {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    img {
        width: 50px;
        height: 50px;

        border-radius: 50%;

        object-fit: contain;
    }

    span {

        font-size: 18px;
    }

    &:hover {
        cursor: pointer;

        background-color: #ECEEFE;
    }
}

.user-view-small-selected {
    font-weight: 700;

    color: #535Af1;
    background-color: #ECEEFE;
}



/* Together with 'input-added-user'-class */
.user-view-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: max-content;
    max-height: 40px;

    padding: 3px 10px !important;

    border-radius: 35px;

    background-color: #ECEEFE;

    img {
        width: 34px;
        height: 34px;

        border-radius: 50%;
    }
}

.channel-view-small {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: max-content;

    padding: 4px 20px;

    span {
        font-size: 18px;
    }

    &>div {
        width: 24px;
        height: 24px;
        background-image: url('/img/hashtag_icon.svg');
        background-repeat: no-repeat;
    }

    &:hover {
        cursor: pointer;

        font-weight: 700;

        border-radius: 35px;

        color: #535Af1;
        background-color: #ECEEFE;

        &>div {
            background-image: url('/img/hashtag_hover_icon.svg');
        }
    }
}

.add-user-or-channel-view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    font-size: 18px;

    padding: 4px 20px;

    &:hover {
        cursor: pointer;

        color: #535Af1;

        .add-circle-icon {
            background-image: url('/img/add_circle_hover.svg');
        }
    }
}



/* ------------- */
/* Active status */
/* ------------- */
.active-status {
    position: absolute;

    width: 14px;
    height: 14px;

    border: 2px solid white;
    border-radius: 50%;
}

.online {
    background-color: #92C83E;
}

.offline {
    background-color: #686868;
}



/* ------ */
/* Inputs */
/* ------ */
.input-text {
    width: 100%;
    max-height: 55px;

    padding: 15px 20px;

    border: 1px solid #ADB0D9;
    border-radius: 30px;

    font-family: 'Nunito';
    font-size: 18px;
    font-weight: 400;

    outline: none;

    &:focus {
        border-color: #444DF2;
    }
}

/* Together with 'user-view-input'-class */
.input-added-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-height: 55px;

    padding: 7.5px 20px;

    border: 1px solid #ADB0D9;
    border-radius: 30px;
}



/* --------- */
/* Dropdowns */
/* --------- */

/* Together with 'user-view-small'-class */
.dropdown-add-user {
    position: fixed;
    transform: translate(20px, -12px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    width: 335px;

    padding: 20px 21px;

    background-color: #FFFFFF;

    border: 1px solid #ADB0D9;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}