.chatroom {
  height: 100vh;

  overflow-y: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.max-width {
  max-width: 1440px;
  margin: auto;
}

.chatroom-header {
  width: 100%;
}

.bg-color {
  background: #eceefe;
}

.communication-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  width: 100%;

  padding-bottom: 16px;
}

.channel-messages {
  flex: 1;
}

/* ----- */
/* Views */
/* ----- */
.channel-view-small {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: max-content;

  padding: 4px 20px;

  span {
    font-size: 18px;
  }

  & > div {
    width: 24px;
    height: 24px;
    background-image: url("/img/hashtag_icon.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    cursor: pointer;

    border-radius: 35px;

    background-color: #eceefe;

    & > div {
      background-image: url("/img/hashtag_hover_icon.svg");
    }
  }
}

.channel-view-small.selected {
  font-weight: 700;

  border-radius: 35px;

  color: #535af1;
  background-color: #eceefe;

  & > div {
    background-image: url("/img/hashtag_hover_icon.svg");
  }
}

.add-user-or-channel-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  font-size: 18px;

  padding: 4px 20px;

  margin-left: 20px;

  &:hover {
    cursor: pointer;

    color: #535af1;

    .add-circle-icon {
      background-image: url("/img/add_circle_hover.svg");
    }
  }
}

/* ------ */
/* Inputs */
/* ------ */
.input-text {
  width: 100%;
  max-height: 55px;

  padding: 15px 20px;

  font-family: "Nunito";
  font-size: 18px;
  font-weight: 400;

  outline: none;

  border: 1px solid #adb0d9;
  border-radius: 30px;

  &:focus {
    border-color: #444df2;
  }
}

.textarea-text {
  width: 100%;
  max-height: 65px;

  padding: 20px;

  font-family: "Nunito";
  font-size: 18px;
  font-weight: 400;

  outline: none;

  border: 1px solid #adb0d9;
  border-radius: 30px;

  resize: none;

  &:focus {
    border-color: #444df2;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

/* ------------- */
/* Active status */
/* ------------- */
.active-status {
  position: absolute;

  width: 14px;
  height: 14px;

  border: 2px solid white;
  border-radius: 50%;
}

.online {
  background-color: #92c83e;
}

.offline {
  background-color: #686868;
}

/* --------- */
/* Dropdowns */
/* --------- */

/* Together with 'user-view-small'-class */
.dropdown-add-user {
  position: fixed;
  transform: translate(20px, -12px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;

  // width: 335px;

  padding: 20px 21px;

  background-color: #ffffff;

  border: 1px solid #adb0d9;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.devspace-mobil {
  display: none;
  justify-content: space-between;
  align-items: center;
  background: #ECEEFE;
  padding: 15px 16px;

  width: 100%;

  .profil-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.devspace-logo {
  display: flex;
  align-items: center;
  gap: 8px;

  div {
    &:hover {
      cursor: pointer;
    }
  }

  span {
    font-weight: bold;
    font-size: 20px;
  }
}

.user-profil-wrapper-mobile.slide-in-active {
  bottom: 0;
}

.user-profil-wrapper-mobile {
  padding: 30px 26px;
  transition: bottom .5s ease-in-out;
  position: absolute;
  z-index: 15;
  bottom: -100%;
  right: 0;
  left: 0;
  background-color: #FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  box-shadow: 0px -3px 10px 0px #00000033;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  .overconatiner-select-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .close-button {
    width: 62px;
    height: 6px;
    border-radius: 23px;
    background: #D9D9D9;
  }

  .select {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 30px;

    img {
      width: 30px;
      height: 30px;
    }

    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      color: black;
      margin-left: 45px;
    }

    &:active {
      background-color: #ECEEFE;
      border-radius: 30px;
    }

    &:active span {
      color: #535AF1;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.profile {
  background-image: url('./../../../public/img/profile_mobile.png');
  background-repeat: no-repeat;
  background-position: 30px;

  &:active {
    background-image: url('./../../../public/img/profile_mobil_active.png');
  }
}

.logout {
  background-image: url('./../../../public/img/logout.png');
  background-repeat: no-repeat;
  background-position: 30px;

  &:active {
    background-image: url('./../../../public/img/logout_active.png');
  }
}

@keyframes slideIn {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@media(max-width: 1200px) {
  .input-text {
    font-size: 14px;
  }
}

@media(max-width:960px) {
  .devspace-area {
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  .channel-messages {
    position: absolute;
    z-index: 6;
    width: 100%;
  }

  .threads-area {
    position: absolute;
    z-index: 7;
    width: 100%;
  }

  .bg-color {
    padding: 0;
  }

  .devspace-mobil {
    display: flex;
  }

  .chatroom-header {
    display: none;
  }
}

@media(max-width: 500px) {
  .dabubble-logo {
    img {
      width: 161.5px;
      height: 45px;
    }
  }

  .dropdown-add-user {
    width: 260px;
  }

  .input-text, .textarea-text {
    font-size: 16px;
  }
}

@media(min-width: 961px) {
  .communication-wrapper {
    overflow: hidden;
  }
}
