<div class="bg-color">
  <div class="color chatroom max-width">
    <!-- <app-chatroom-header></app-chatroom-header> -->
    <div class="devspace-mobil">
      <div><img src="/img/logo_complete.png" alt=""></div>
      <div><img class="profil-image" [src]="getCurrentUserImage" alt="User Avatar"></div>
  </div>

    <section class="communication-wrapper color">
      <div class="devspace-area">
        <app-devspace></app-devspace>
      </div>
      <div class="channel-messages" [ngStyle]="{'z-index': zIndexChats ? '6' : '4' }">
        <app-messages [currentUser]="currentUser"></app-messages>
      </div>
      <div class="threads-area">
        <app-thread-router-outlet></app-thread-router-outlet>
      </div>
    </section>
  </div>
</div>
