<section class="card">

    <div class="thread-head">
        <div>
            <h2>Thread</h2>
            <span>#</span>
            <span>Entwicklerteam</span>
        </div>
        <div class="close-icon"></div>
    </div>

    <div *ngFor="let message of threadsDb.messageList" class="message-wrapper">
        <app-single-message [currentMessage]="message" [chatId]="threadsDb.currentThreadId()" [component]="'thread'"></app-single-message>
    </div>

    <app-textarea [component]="'thread'" class="textarea-component"></app-textarea>
</section>