<section *ngIf="threadsDb.currentThreadId()" class="card">

    <div class="thread-head">
        <div>
            <h2>Thread</h2>
            <span>#</span>
            <span>Entwicklerteam</span>
        </div>
        <div (click)="closeThread()" class="close-icon"></div>
    </div>

    <div class="message-field" #myScrollContainer>
        <div *ngFor="let message of threadsDb.messageList; let i = index" class="message-wrapper">
            <app-single-message [currentMessage]="message" [chatId]="threadsDb.currentThreadId()"
                [component]="'thread'"></app-single-message>
            <div *ngIf="i == 0 && threadsDb.messageList.length > 1" class="answers">
                @if (threadsDb.messageList.length > 2) {
                <span>{{ threadsDb.messageList.length - 1 }} Antworten</span>
                } @else {
                <span>{{ threadsDb.messageList.length - 1 }} Antwort</span>
                }
                <div class="separater"></div>
            </div>
        </div>
    </div>

    <app-textarea (childEvent)="scrollDown()" [component]="'thread'" class="textarea-component"></app-textarea>
</section>