<section class="card distance-chatroom" [ngClass]="{ 'slide-out': threadClose, 'slide-in': !threadClose }">
  <div class="thread-head">
    <div class="thread-title">
      <h2>Thread</h2>
      <div class="thread-title-tooltip">
        <span *ngIf="this.chatService.firstThreadMessage()">{{
          this.chatService.firstThreadMessage()?.text
        }}</span>
        <div>
          <div class="tooltip">{{ this.chatService.firstThreadMessage()?.text }}</div>
        </div>
      </div>
    </div>
    <div (click)="closeThread()" class="close-icon"></div>
  </div>

  <div class="message-field" #myScrollContainerThread>
    <div class="flex-end" *ngIf="this.chatService.firstThreadMessage()">

      <app-single-message
        [currentMessage]="this.chatService.firstThreadMessage()"
        [component]="'threads'"
        [chatId]="threadsDb.currentThreadId()"
      ></app-single-message>

      <div *ngIf="this.chatService.firstThreadMessage().associatedThreadId.count > 0"  class="answers">
        <span>{{ getThreadAnswers() }}</span>
        <div class="separater"></div>
      </div>

      <div
        *ngFor="let message of threadsDb.messageList; let i = index"
        class="message-wrapper"
      >
        <app-single-message
          [currentMessage]="message"
          [chatId]="threadsDb.currentThreadId()"
          [component]="'threads'"
        ></app-single-message>
      </div>
    </div>
  </div>

  <div class="textarea-component">
    <div class="textarea-emojipicker">
      <div
        class="emoji-component"
        *ngIf="this.emojiService.emojiPickerOpenThreads"
      >
        <app-emoji-picker-component
          (emojiSelected)="this.addEmoji($event)"
        ></app-emoji-picker-component>
      </div>
      <app-textarea [component]="'threads'"></app-textarea>
    </div>
  </div>
</section>
