* {
    font-family: 'Nunito';
}

section {
 height: calc(100vh - 102px - 16px);
}

.card {
    min-width: 485px;

    padding: 0;
}

.thread-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 32px 40px;

    box-shadow: 0px 2px 10px 0px rgba(0 0 0 / 8%);

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    &>div {

        &>h2 {
            font-size: 24px;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        &>span {
            color: #797EF3;

            font-weight: 400;
            font-size: 14px;
        }
    }
}

.message-field {
    scroll-behavior: smooth;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    scrollbar-width: none;
}

.message-wrapper {
    padding: 10px 20px;

    &:first-child {
        margin-top: auto;
    }
}

.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: #ADB0D9;

    padding-left: 10px;
    padding-right: 10px;
}

.separater {
    width: auto;
    height: 1px;
    flex-grow: 1;

    background-color: #ADB0D9;

    border-radius: 0.75px;
}

.textarea-component {
    padding: 32px 20px;
}