<section class="card">
  <div class="header-default">
    <h2>Neue Nachricht</h2>
    <div class="search-chats">
      <input
        [(ngModel)]="searchText"
        (input)="searchChat()"
        type="text"
        placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
      />
      <div *ngIf="this.userList" class="user-list">
        <app-user-view-small
          *ngFor="let user of filteredUser"
          [user]="user"
          (click)="selectChat(user)"
        ></app-user-view-small>
      </div>

      <div class="user-list channel-list" *ngIf="this.channelList">
        <div *ngFor="let channel of getChannelList()" class="single-channel">
          <span class="hashtag-icon"></span>
          <span>{{ channel.name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div></div>

  <div class="textarea">
    <app-textarea [chatPartnerName]="'...'" [condition]="true"></app-textarea>
  </div>
</section>
