<div *ngIf="user && usersDb.currentUser as currentUser" class="user-view-small" [ngClass]="{'selected': user.id === selectedUserId}">
    <div>
        <img src="{{user.avatar}}" alt="Avatar">
        <div class="active-status" [ngClass]="{'online': user.active, 'offline': !user.active}"
            style="position: absolute;"></div>
    </div>
    <span *ngIf="user.id !== currentUser.id; else du">{{user.userName}}</span>
    <ng-template #du>
       <span>{{user.userName}} (Du)</span>
    </ng-template>
</div>