@use '../../chatroom/chatroom.component.scss';
@use '../../chatroom/devspace/devspace.component.scss';

.user-view-small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    width: max-content;

    padding: 4px 20px;

    transition: all 75ms;

    border-radius: 35px;

    &>div {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    img {
        width: 50px;
        height: 50px;

        border-radius: 50%;

        object-fit: contain;
    }

    span {

        font-size: 18px;
    }

    &:hover {
        cursor: pointer;

        background-color: #ECEEFE;
    }
}

.user-view-small.selected {
    font-weight: 700;

    color: #535Af1;
    background-color: #ECEEFE;
}