<section *ngIf="dialogWindowControl.isCreateChannelOpen" class="create-channel-dialog"
         [ngClass]="{ 'slide-in': !resize.checkMediaW600px, 'animation': resize.checkMediaW600px }"
         [ngStyle]="{ 'z-index': isMobile() ? '4' : '10' }">

  <header class="header-dialog">
    <h2>Channel erstellen</h2>
    <div (click)="closeDialog()" class="close-icon"></div>
  </header>

  <div>
    <p>
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein
      <br>
      "# Marketing" zum Beispiel.
    </p>
  </div>

  <form class="create-channel-form" action="">
    <div>
      <p><b>Channel-Name</b></p>
      <input #inputField name="channelName" [(ngModel)]="channelName" (ngModelChange)="updateValue($event)"
             (keydown)="onKeyDown($event)" class="input-text" type="text" placeholder="#   z.B. Kooperationsprojekt"
             autocomplete="off">
    </div>

    <div>
      <p><b>Beschreibung</b> <span class="color-light-gray"> (optional)</span></p>
      <textarea [(ngModel)]="channelDescription" name="channelDescription" class="textarea-text"
                placeholder="Dein Text hier" maxlength="120"></textarea>
    </div>

    <button class="primary-button" (click)="createChannel(); openAddPeopleDialog()"
            [disabled]="!channelName">Erstellen
    </button>
  </form>

</section>
