* {
    box-sizing: border-box;
    margin: 0;
}

.registration-card {
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}