<section class="card padding-card distance-chatroom" [ngClass]="{'slide-out': devspaceClose, 'slide-in': !devspaceClose }">

    <div class="devspace-head">
        <div>
            <img src="/img/workspace_logo.png" alt="">
            <span>Devspace</span>
        </div>
        <div (click)="goToDefault()" class="devspace-new-icon"></div>
    </div>

    <app-devspace-channels class="child-component"></app-devspace-channels>

    <app-devspace-directmessages class="child-component"></app-devspace-directmessages>

</section>

<app-hide-or-show-navbar (navbarClose)="devspaceClose = $event"></app-hide-or-show-navbar>