<section *ngIf="channelDb.channelData" class="card">

    <div class="message-head">
        <div class="head-left">
            <div class="hashtag-icon"></div>
            <h2>Entwicklerteam</h2>
            <div class="arrow-drop-down-icon"></div>
        </div>

        <div class="head-right">
            <div>
                <div class="profil-picture-wrapper">
                    <img style="width: 40px; height: 40px; object-fit: contain; border: 2px solid #ffffff; border-radius: 50%; margin-left: -10px;"
                        *ngFor="let channel of getChannelParticipantsDetails()" src="{{channel.avatar}}" alt="">
                </div>
                <span>{{getChannelParticipantsDetails().length}} </span>
            </div>
            <div class="person-add-icon">
                <div></div>
            </div>
        </div>
    </div>

</section>