<section class="card">

    <div class="message-head">
        <div class="head-left">
            <div class="hashtag-icon"></div>
            <h2>Entwicklerteam</h2>
            <div class="arrow-drop-down-icon"></div>
        </div>

        <div class="head-right">
            <div>
                <div class="profil-picture-wrapper">
                    <img src="/img/sofia_müller.png" alt="">
                    <img src="/img/sofia_müller.png" alt="">
                    <img src="/img/sofia_müller.png" alt="">
                </div>
                <span>3</span>
            </div>
            <div class="person-add-icon">
                <div></div>
            </div>
        </div>
    </div>

</section>