<section *ngIf="channelsDb.channel as channel" class="card">
  <div class="message-head">
    <div class="head-left-wrapper">
      <div (click)="openDialog('dataWindow')" class="head-left"
           [ngClass]="{ 'head-left-highlight': dialogWindowControl.isDataWindowOpen }">
        <div class="hashtag-icon"></div>
        <h2>{{ channel.name }}</h2>
        <div class="arrow-drop-down-icon"></div>
      </div>

      <app-channel-data-window (addMembersDialogFocus)="addMembersDialogFocus()"></app-channel-data-window>
    </div>

    <div *ngIf="channelsDb.channelUserDataList" class="head-right">
      <div class="members-info-wrapper"
           [ngClass]="{ 'members-info-wrapper-highlight': dialogWindowControl.isMembersInfoOpen }">
        <div class="members-info" (click)="openDialog('membersInfo')">
          <div>
            <img *ngFor="let user of channelsDb.channelUserDataList" src="{{ user.avatar }}" alt=""/>
          </div>
          <span>{{ channelsDb.channelUserDataList.length }} </span>
        </div>
      </div>

      <div class="add-members-wrapper">
        <div (click)="openDialog( !resize.checkMediaW600px ? 'addMembers' : 'membersInfo')" class="person-add-icon">
          <div [ngClass]="{ 'person-add-icon-highlight': dialogWindowControl.isAddMembersOpen }"></div>
        </div>

        <app-channel-members-info (addMembersDialogFocus)="addMembersDialogFocus()"></app-channel-members-info>

        <app-channel-add-members-dialog #addMembersDialog></app-channel-add-members-dialog>
      </div>
    </div>
  </div>

  <app-messages-field class="message-field" [chatId]="chatId" [component]="'channels'"></app-messages-field>

  <div class="textarea-component">
    <div class="communication-with" *ngIf="(chatMessages$ | async)?.length === 0">
      <span class="channel-name"># {{ getChannelName }}</span>
      <p class="channel-start">
        Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels<span class="channel-start-click"><img
        src="/img/tag.png" alt="#"> {{ getChannelName }}</span>.
      </p>
    </div>

    <div class="textarea-emojipicker">
      <div class="emoji-component" *ngIf="this.emojiService.emojiPickerOpen">
        <app-emoji-picker-component (emojiSelected)="this.addEmoji($event)"></app-emoji-picker-component>
      </div>
      <app-textarea [chatPartnerName]="channel.name" [component]="'channels'" [condition]="false"></app-textarea>
    </div>
  </div>
</section>

<app-transparent-background [backgroundOpen]="isDialogOpen()"
                            (addMembersDialogClose)="closeAddMembersDialog()"></app-transparent-background>
